
Lecture01_Introduction/.Rhistory
Lecture01_Introduction/.Rproj.user/B0E20195/sources/per/t/BC8A6677
Assignments/Assignment2/~$signment 2.docx
Lecture01_Introduction/.Rhistory
Lecture01_Introduction/.Rproj.user/B0E20195/pcs/files-pane.pper
*.pper
Lecture01_Introduction/.Rproj.user/B0E20195/rmd-outputs
Lecture01_Introduction/.Rproj.user/B0E20195/saved_source_markers
Lecture01_Introduction/.Rproj.user/B0E20195/sources/per/t/48C38207
Lecture01_Introduction/.Rproj.user/B0E20195/sources/per/t/48C38207-contents
Lecture01_Introduction/.Rproj.user/B0E20195/sources/per/t/BC8A6677-contents
Lecture01_Introduction/.Rproj.user/B0E20195/sources/prop/9B44A622
Lecture01_Introduction/.Rproj.user/B0E20195/sources/prop/B135A8E3
Lecture01_Introduction/.Rproj.user/B0E20195/sources/prop/INDEX
Lecture01_Introduction/.Rproj.user/shared/notebooks/BD799454-Lecture1_RMarkdown/1/B0E20195E4F60A2E/chunks.json
*.metadata
Lecture01_Introduction/.Rproj.user/shared/notebooks/BD799454-Lecture1_RMarkdown/1/s/c4dbzy1lhh70q/000003.png
*.snapshot
*.json
Lecture02_UnivariateOLS/.Rhistory
Lecture01_Introduction/~$Lecture1_Frameworks_2022F.pptx
Lecture02_UnivariateOLS/.Rproj.user/B0E20195/rmd-outputs
*.error
Lecture02_UnivariateOLS/.Rproj.user/shared/notebooks/paths
Lecture03_MultivariateOLS1/.Rhistory
Lecture03_MultivariateOLS1/.Rproj.user/B0E20195/rmd-outputs
Lecture03_MultivariateOLS1/.Rproj.user/B0E20195/sources/per/t/8076C2DD-contents
Lecture03_MultivariateOLS1/.Rproj.user/B0E20195/viewer-cache/002C8249.Rdata
*.json
*.css
*.ttf
*.map
*.eot
*.svg
*.woff
*.woff2
*.js
Lecture04_MultivariateOLS2/~$Lecture4_MultivariateOLS2_2022F.pptx
Lecture05_Matching/~$Lecture5_Matching_2022F.pptx
Lecture07-08_BinaryDepVars/~$Lecture7_BinaryDepVars_2022F.pptx
Lecture09_DifferenceinDifferences/~$Lecture9_DiD_2022F.pptx
Lecture10_SyntheticControl_QuantileRegression/~$Lecture10_SyntheticControl_QuantileRegression.pptx
Lecture12_TopicsResearchDesign/~$Lecture12_ResearchDesign_2022F.pptx
~$llabus_HAD5744_2022F.docx
Lecture03_MultivariateOLS1/.Rhistory
Lecture03_MultivariateOLS1/.Rproj.user/B0E20195/saved_source_markers
Lecture03_MultivariateOLS1/.Rproj.user/B0E20195/sources/per/t/9E2824A0-contents
Lecture03_MultivariateOLS1/.Rproj.user/B0E20195/sources/per/t/E99A652F-contents
*.error
.Rproj.user
